:root {
  --main-color: #099d8d;
  --secundary-color: #14d9c4;
  --Gris-oscuro: #54585a;
  --Gris-claro: #b8b8b9;
  --Gris-fondo: #f1f1f1;
  --Blanco: #ffffff;
  --Negro: #000000;
  --font-family: "Open Sans", sans-serif;
  --font-size-titulo: 5rem;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
.header {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
.menu {
  background-color: var(--secundary-color);
}

.title {
  font-size: 2rem;
  font-family: "Rubik", sans-serif;
  text-align: center;
  background-color: var(--main-color);
  color: white;
  padding: 15px;
}

.menu__list {
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: "Rubik", sans-serif;
  padding: 15px;
}
.menu__list a{
  text-decoration: none;
  color: white;
}

/* banner */

.section__banner {
  display: flex;
  flex-direction: column;
  height: fit-content;
  
}

.banner__image {
  background-image: url(../images/hero-img.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 42.1rem;
}

.eslogan {
  background-color: white;
  font-weight: 500;
  font-family: var(--font-family);
  padding: 14px 15px 16px;
  position: relative;
  font-size: 1.8rem;
  width: 29rem;
  height: 8rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}


/* equipo */

.article__equipo {
  width: 100%;
  text-align: center;
  padding: 0px 45px 30px;
}

.equipo-titulo {
  color: var(--secundary-color);
  font-family: "Rubik";
  font-size: 2.4rem;
  font-weight: 500;
  padding-bottom: 2rem;
  /* z-index: 50; */
}
.equipo-parrafo {
  color: #54585a;
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.4rem;
  font-family: var(--font-family);
  opacity: 67%;
}

/* fortalezas y debilidades*/

.section {
  display: flex;
  flex-direction: column;
  background-color: var(--Gris-fondo);
  gap: 20px;
  padding: 30px 15px 45px;
  position: relative;
}
.section__fortalezas-titulo {
  height: 4.5vh;
  font-size: 2.2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: var(--main-color);
}
.section__fortalezas-texto {
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}

.section__debilidades-titulo {
  height: 4.5vh;
  font-size: 2.2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: var(--main-color);
}

.section__debilidades-texto {
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}


.rectangulo{
  height: fit-content;
  width: fit-content;
  position: absolute;
  top:0;
  left:50%;
  transform: translate(-50%, -50%);
}

.rotate{
  height: 30px;
  width: 30px;
  background-color:var(--Blanco);
  transform: rotate(45deg);
}


/*QUIENES SOMOS*/

.quienes__somos {
  background-color: var(--Blanco);
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 3rem;
}

.quienes__somos--title {
  color: var(--main-color);
  font-family: var(--font-family);
  text-align: center;
  padding: 3rem 1.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  width: 100vw;
  line-height: 4.5rem;
}

.quienes__somos--image {
  width: 18rem;
  height: 18rem;
  border: 0.5rem solid var(--Gris-fondo);
  border-radius: 4%;
}

.quienes__somos--art--izq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 2rem;
}

.quienes__somos--art--dcha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 2rem;
}



.quienes__somos--name--izq {
  font-family: var(--font-family);
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.quienes__somos--name--dcha {
  font-family: var(--font-family);
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.quienes__somos--text--izq {
  font-family: var(--font-family);
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--Gris-oscuro);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
}

.quienes__somos--text--dcha {
  font-family: var(--font-family);
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--Gris-oscuro);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
}

.quienes__somos--media--izq {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1.6rem;
  
  line-height: 3rem;
}

.quienes__somos--media--dcha {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1.6rem;
  
  line-height: 3rem;
}

.quienes__somos--media--izq a{
  color: var(--main-color);
}

.quienes__somos--media--dcha a{
  color: var(--main-color);
}


/* footer */

.footer__container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.1rem solid var(--Gris-claro);
  padding-top: 3rem;
  padding-bottom: 4.5rem;
  gap: 2rem;
  font-size: 1.4rem;
}

.footer__copyright {
  font-family: var(--font-family);
  color: var(--Gris-claro);
}

.footer__menu {
  text-align: center;
}

.footer__menu-item a {
  font-family: var(--font-family);
  color: var(--Gris-oscuro);
  opacity: 0.75;
  font-weight: 500;
  text-decoration: none;
  line-height: 2rem;
}

.footer__logo {
  width: 11.5rem;
}

.footer__logo img {
  object-fit: contain;
  width: 100%;
}

/* versión tablet y desktop*/

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
  }

  .menu {
    background-color: var(--main-color);
  }

  .menu__list {
    gap: 20px;
    margin-right: 45px;
    font-size: 1.5rem;
  }

  .title {
    margin-left: 45px;
    font-size: 1.5rem;
  }

  .section__banner {
    height: 42.1rem;
    display: flex;
    flex-direction: column;
  }

  .eslogan {
    background-color: white;
    font-weight: 700;
    font-family: var(--font-family);
    opacity: 0.8;
    padding: 15px 30px;
    position: relative;
    font-size: 1.8rem;
    width: 440px;
    /*preguntar por los ejes de la pantalla para centrar eslogan*/
    transform: translateX(-50%);
  } 

  .section {
    display: flex;
    flex-direction: row;
    padding: 45px 44.8px 60px 45px;
  }


  .quienes__somos--image{
    width: 20.6rem;
    height: 20.6rem;
  }


   .quienes__somos--art--izq {
    display: flex;
    flex-direction: row;
    align-content: left;
    padding: 4rem;
  }
   .quienes__somos--name--izq,
   .quienes__somos--text--izq {
    text-align: left;
    padding: 1rem;
    }

   .quienes__somos--media--izq {
    justify-content: left;
    align-items: left;
    padding: 1rem;
  }

   .quienes__somos--art--dcha {
    display: flex;
    flex-direction: row-reverse;
    padding: 4rem;
  }

   .quienes__somos--name--dcha,
   .quienes__somos--text--dcha {
    text-align: right;
    padding: 1rem;
  }

   .quienes__somos--media--dcha {
    justify-content: right;
    align-items: right;
    padding: 1rem;
  }

  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    gap: 0;
  }

  .footer__copyright {
    width: 50%;
  }

  .footer__menu-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .footer__menu {
    text-align: right;
    transform: translateY(-0.5rem);
  }

  .footer__menu-item a {
    line-height: 3rem;
  }

  .footer__logo {
    transform: translate(-1rem, -5rem);
  }


}
