:root {
  --main-color: #099d8d;
  --secundary-color: #14d9c4;
  --Gris-oscuro: #54585a;
  --Gris-claro: #b8b8b9;
  --Gris-fondo: #f1f1f1;
  --Blanco: #ffffff;
  --Negro: #000000;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

nav{
    background-color: var(--secundary-color);
}

.title{
    font-size: 24px;
    font-family: "Rubik", sans-serif;
    text-align: center;
    background-color: var(--main-color);
    color: white;
    padding: 15px;
}

.menu-list{
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: "Rubik", sans-serif;
    padding: 8px;
}

.fortalezas-debilidades {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  /* opacity: 0.2; */
}
.titulo-fortalezas {
  height: 45px;
  font-size: 22px;
  font-family: Rubik;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: var(--main-color);
}
.texto-fortalezas {
  height: 192px;
  margin: 45px 0 30px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}

.eslogan {
  background-color: white;
  font-weight: 700;
}
.equipo-titulo {
  color: #14d9c4;
  font-size: 24px;
  text-align: center;
  line-height: 45px;
}
.equipo-parrafo {
  color: #54585a;
  size: 16px;
  text-align: center;
  line-height: 24px;
}

.equipo-parrafo {
  color: #54585a;
  size: 16px;
  text-align: center;
  line-height: 24px;
}

@media (width > 1000px){
  .header{
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
  }
  
  nav{
    background-color: var(--main-color);
  }
  
  .menu-list{
    gap: 20px;
    margin-right: 45px;
    font-size: 15px;
  }
  
  .title{
    margin-left: 45px;
    font-size: 15px;
  }
}
