$mainColor: #099d8d;
$secondaryColor: #14d9c4;
$darkGrey: #54585a;
$lightGrey: #b8b8b9;
$backgroundGrey: #f1f1f1;
$white: #ffffff;
$black: #000000;
$fontFamily: "Open Sans", sans-serif;
$fontSizeTitle: 5rem; 
$secondaryFont: "Rubik", sans-serif;