.article__equipo {
  width: 100%;
  text-align: center;
  padding: 90px 15px 30px;
  @media (min-width: 768px) {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 45px;
  }
  @media (min-width: 1200px) {
      padding-left: 138px;
      padding-right: 138px;
    }
}

.equipo-titulo {
  color: $secondaryColor;
  font-family: "Rubik";
  font-size: 2.4rem;
  font-weight: 500;
  padding-bottom: 2rem;
  @media (min-width: 768px) {
    color: $mainColor;
}
}

.equipo-parrafo {
  color: #54585a;
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.4rem;
  font-family: $fontFamily;
  opacity: 67%;
}
