.footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.1rem solid $lightGrey;
    padding-top: 30px;
    padding-bottom: 45px;
    gap: 20px;
    font-size: 1.4rem;
    @media (width > 768px){
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      padding-left: 45px;
      padding-right: 45px;
      padding-bottom: 14.5px;
      gap: 0;
    }
    @media (width > 1200px) {
      padding-left: 138px;
      padding-right: 138px;
      
    }

    &__copyright {
      font-family: $fontFamily;
      color: $lightGrey;
      @media (width > 768px){
        width: 50%;
      }
    }

    &__logo {
      width: 11.5rem;
      @media (width > 768px){
        transform: translate(0, -5rem);
      }

      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }
  
  .menu2 {
    @media (width > 768px){
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  &__ul {
    text-align: center;
    @media (width > 768px){
      text-align: right;
      transform: translateY(-0.5rem);
    }
    &--item {
      font-family: $fontFamily;
      color: $darkGrey;
      opacity: 0.75;
      font-weight: 500;
      text-decoration: none;
      line-height: 2rem;
      &:hover{
        color: $mainColor;
      }
      &:active{
        color: $secondaryColor;
      }
      @media (width > 768px){
        line-height: 3rem;
      }
    }
  }  
  }


  