.section {
    display: flex;
    flex-direction: column;
    background-color: $backgroundGrey;
    gap: 20px;
    padding: 30px 15px 45px;
    position: relative;

    @media (min-width: 768px){
      display: flex;
      flex-direction: row;
      padding: 45px 44.8px 60px 45px;
    }

    @media (min-width: 1200px){
      height: 309px;
      padding: 45px 138px 60px;
    }

    &__fortalezas--titulo{
      height: 4.5vh;
      font-size: 2.2rem;
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.05;
      letter-spacing: normal;
      text-align: center;
      color: $mainColor;
    }
    
    &__fortalezas--texto{
      padding-top: 1.5rem;
      font-family: $fontFamily;
      font-size: 1.6rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #54585a;
    }

    &__debilidades--titulo{
      height: 4.5vh;
      font-size: 2.2rem;
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.05;
      letter-spacing: normal;
      text-align: center;
      color: $mainColor;
    }

    &__debilidades--texto{
      padding-top: 1.5rem;
      font-family: $fontFamily;
      font-size: 1.6rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #54585a;
    }
  }
 
  .rectangulo{
    height: fit-content;
    width: fit-content;
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%, -50%);
  }
  
  .rotate{
    height: 30px;
    width: 30px;
    background-color:$white;
    transform: rotate(45deg);
  }
  
  