.section {
    display: flex;
    flex-direction: column;
    background-color: var(--Gris-fondo);
    gap: 20px;
    padding: 30px 15px 45px;
    position: relative;
  }
  .section__fortalezas-titulo {
    height: 4.5vh;
    font-size: 2.2rem;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.05;
    letter-spacing: normal;
    text-align: center;
    color: var(--main-color);
  }
  .section__fortalezas-texto {
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #54585a;
  }
  
  .section__debilidades-titulo {
    height: 4.5vh;
    font-size: 2.2rem;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.05;
    letter-spacing: normal;
    text-align: center;
    color: var(--main-color);
  }
  
  .section__debilidades-texto {
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #54585a;
  }
  
  
  .rectangulo{
    height: fit-content;
    width: fit-content;
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%, -50%);
  }
  
  .rotate{
    height: 30px;
    width: 30px;
    background-color:var(--Blanco);
    transform: rotate(45deg);
  }
  
  