.main{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;

    &__image{
        background-image: url(../images/formulario_imagen.jpg); 
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 30rem;
        width: 100%;

        @media (min-width: 1200px){
            height: 40rem;
          }
    }

    &__titulo{
        padding: 30px;
        height: 45px;
        margin: 0 15px 15.5px;
        font-family: $secondaryFont;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.88;
        text-align: center;
        color: $mainColor;
    }

    &__parrafos{
        font-family: $fontFamily;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 16.6rem;
        line-height: 1.5;
        text-align: center;
        color: $darkGrey;

        &-1{
            font-size: 1.6rem;
            text-align: center;
            line-height: 24px;
            color: $darkGrey;
            padding-bottom: 30px;
        }

        &-2{
            font-size: 1.2rem;
            text-align: center;
            line-height: 2.4rem;
            color: $darkGrey;
            padding-bottom: 30px;
        }

        &-3{
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 2.4rem;
            color: $secondaryColor;
            padding-bottom: 30px;
        }

    }

    &__container{
        width: 100%;
        padding-left:15px;
        padding-right: 15px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
          
        @media (min-width: 768px){
            padding-left: 163px;
            padding-right: 163px;
           }

        @media (min-width: 1200px){
            width: 70%; 
            margin: 0 auto;
        }
        
    }

        &-boton{
            width: 100%;
            height: 45px;
            margin: 30px 0 0;
            border:none;
            border-radius: 4px;
            background-color: $mainColor;
            color: $white;
            text-align: center;
            text-transform: uppercase;

            @media (min-width: 768px){
                width: 40%;
                margin-left: 60%;
                }
            
        }
    }

.label{
        width: 290px;
        height: 19px;
        font-family: $fontFamily;
        font-size: 1.4rem;
        color: $darkGrey;
        margin-bottom: 7px;

        @media (min-width: 1200px){
            display: block; 
            font-weight: bold; 
            width: 100%;
            }
    
}

.input { 
    width: 100%; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 5px; 
} 

.form__container--email{ 
    width: calc(66.666% - 10px); /* Así ocupa dos tercios del 
ancho disponible y le he quitado 10 px de separación por el margin 
que le he dado, para que no lo tenga en cuenta */ 
    display: inline-block; 
    margin-right: 10px; 
} 
.form__container--telf { 
    width: calc(33.333% - 10px); /* Un tercio del ancho disponible 
y le he quitado 1opx de separación */ 
    display: inline-block; 
}