.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    @media (width> 768px){
      display: flex;
      justify-content: space-between;
      background-color: rgba(9, 157, 141, 0.9);
      
      }

      h1{
        font-size: 2rem;
        font-family: "Rubik", sans-serif;
        text-align: center;
        background-color: rgba(9, 157, 141, 0.9);
        color: $white;
        padding: 15px;
        a{
          text-decoration: none;
        color: $white;
        }
        @media (width> 768px){
          padding-left: 45px;
          font-size: 1.5rem;
          background-color: rgba(9, 157, 141, 0);
        }
        @media (width> 1200px){
          padding-left: 139px;
        }
      }
  }
  .menu {
    background-color: rgba(20, 217, 196, 0.9);
    
    @media (width> 768px){
    background-color: rgba(9, 157, 141, 0);
    }

    &__list{
      display: flex;
      justify-content: space-around;
      color: $white;
      font-family: "Rubik", sans-serif;
      padding: 15px;
      font-size: 1.5rem;
  
      @media (width> 768px){
        gap: 20px;
        padding-right: 45px;
        font-size: 1.5rem;
      }
      @media (width> 1200px){
        gap: 20px;
        padding-right: 139px;
      }
    }
    a{
      text-decoration: none;
    color: $white;
    }
  }
  