@import "../core/variables";



 

  


@media (min-width: 1200px) {
  .eslogan{
    left: 138px;
    transform: translate(0, 0);
  }
  .article__equipo {
    padding-left: 138px;
    padding-right: 138px;
  }
}
