<section>
    <article class="article__equipo" id="equipo">
      <h2 class="equipo-titulo">EQUIPO</h2>

      <p class="equipo-parrafo">
        Cinco mujeres que, desafiando las convenciones de sus trayectorias
        profesionales previas, se embarcan en un emocionante viaje hacia el
        mundo de la programación. Cada una tiene una motivación diferente
        pero las une el deseo de impulsar un cambio de vida. Estas
        intrépidas hermanas de código desafían los estereotipos y se
        sumergen en el aprendizaje de lenguajes de programación, enfrentando
        desafíos y triunfos mientras construyen un futuro brillante con cada
        línea de código que escriben. Juntas, trazan un nuevo camino hacia
        el éxito, demostrando que la diversidad y la determinación son las
        claves para transformar el paisaje de la tecnología.
      </p>
    </article>
  </section>
  