<footer class="footer">
    <h4 class="footer__copyright">Sisters en código © 2024</h4>
    <nav class="menu2">
      <ul class="menu2__ul">
        <li><a class="menu2__ul--item" href="#equipo2">EQUIPO</a></li>
        <li><a class="menu2__ul--item" href="#quienes-somos">QUIÉNES SOMOS</a></li>
        <li><a class="menu2__ul--item" href="#">CONTACTO</a></li>
      </ul>
    </nav>
    <div class="footer__logo">
      <img src="./images/logo-adalab.png" alt="Logotipo de Adalab." />
    </div>
  </footer>