<main class="main">
  <div class="main__image"></div>
  <h1 class="main__titulo">CONTACTO</h1>
  <div class="main__parrafos">
      <p class="main__parrafos-1">Si quieres ponerte en contacto con las chicas de Sisters en código por favor rellena el siguiente formulario.</p>
      <p class="main__parrafos-2">Todos los campos marcados con <span class="decoration">*</span> son obligatorios.</p>
  </div>

  <form class="form__container">

    <div>
        <label class="label" for="nombreCompleto">Nombre completo <span class="decoration">*</span></label></label>
        <input 
        class="input" 
        type="text" 
        id="nombreCompleto" 
        name="nombreCompleto"
        placeholder="Nombre..."
        required
        >
    </div>

    <div class="form__container--secondrow">
        <div class="form__container--email">
            <label class="label" for="email">Email <span class="decoration">*</span></label></label>
            <input 
            class="input" 
            type="email" 
            id="email" 
            name="email"
            placeholder="nombre@apellidos.mail.com"
            required
            >
        </div>
        <div class="form__container--telf">
            <label class="label" for="telefono">Teléfono</label>
            <input 
            class="input" 
            type="tel" 
            id="telefono" 
            name="telefono"
            placeholder="Ej: 123456789"
            >
        </div>
    </div>

    <div>
        <label class="label" for="mensaje">Mensaje <span class="decoration">*</span></label></label>
        <textarea 
        class="input__textarea" 
        id="mensaje" 
        name="mensaje"
        placeholder="¿Qué necesitas?"
        required
        rows="6">
        
    </textarea>

 
      <input class="boton" type="submit" value="Enviar" />

  </form>
</main>
