<section class="section">
    <div class="rectangulo">
      <div class="rotate"></div>
    </div>
    <article class="section__fortalezas">
      <h2 class="section__fortalezas-titulo">Fortalezas</h2>
      <p class="section__fortalezas-texto">
        Somos un equipo en el que la buena organización y comunicación funcionan como motor de nuestro proyecto. A esto le sumamos que todas tenemos una gran motivación por aprender y ganas de que todo sea lo más perfecto posible. En este equipo equivocarse es la mejor opción de aprender y, como buenas sisters en código, vamos de la mano en nuestros diferentes ritmos de aprendizaje.
      </p>
    </article>
    <article class="section__debilidades">
      <h2 class="section__debilidades-titulo">Debilidades</h2>
      <p class="section__debilidades-texto">
        Ningún equipo es perfecto y el nuestro no iba a ser menos. Los diferentes ritmos de nuestras vidas personales a veces hacen que cuadrar horarios se complique un poco. Por otro lado, el venir de sectores previos tan distintos hace que los ritmos de aprendizaje sean diferentes, pero las Sisters en código tenemos algo claro: ¡de nuestras debilidades hacemos fortalezas!
      </p>
    </article>
  </section>
