<main class="main">
    <div class="main__image"></div>
    <h1 class="main__titulo">CONTACTO</h1>
    <div class="main__parrafos">
        <p class="main__parrafos-1">Si quieres ponerte en contacto con las chicas de Sisters en código por favor rellena el siguiente formulario.</p>
        <p class="main__parrafos-2">Todos los campos marcados con <span class="main__parrafos-3">*</span> son obligatorios.</p>
    </div>
    <form class="main__formulario">
        <label class="main__formulario-label" for="Nombre">Nombre completo <span class="main__parrafos-3">*</span></label>
        <input
          class="main__formulario-form"
          placeholder="Nombre..."
          id="Nombre"
          type="text"
          name="Nombre"
          required
        />

        <div class="main__formulario-group">
          <div class="email">
            <label class="main__formulario-label" for="Mail">Email <span class="main__parrafos-3">*</span></label>
            <input
              class="main__formulario-form"
              placeholder="nombre@apellidos@mail.com"
              id="Mail"
              type="email"
              name="Mail"
              required
            />
      </div>

      <div class="phone">
          <label class="main__formulario-label" for="Telefono">Teléfono</label>
          <input
            class="main__formulario-form"          
            placeholder="Ej: 123456789"
            id="Telefono"
            type="tel"
            name="Telefono"
          />
      </div>
      </div>

        <label class="main__formulario-label" for="Mensaje">Mensaje <span class="main__parrafos-3">*</span></label>
        <textarea
        class="main__formulario-form mensaje" 
        id="Mensaje" 
        name="Mensaje" 
        required
        >"¿Qué necesitas?"
        </textarea>

        <input class="main__formulario-boton" type="submit" value="Enviar" />

    </form>
</main>