<section class="quienes__somos">
    <h2 class="quienes__somos--title">QUIÉNES SOMOS</h2>

    <article class="quienes__somos--art--izq">
      <div>
         <img class="quienes__somos--image"
          src="/images/lucia-delafuente_1040px.jpg"/>
      </div>

      <div>
          <h3 class="quienes__somos--name--izq" >Lucía de la Fuente</h3>

          <p class="quienes__somos--text--izq" >
            Soy Lucía, madrileña y amante de la música. Soy maestra de
            Educación Primaria de vocación, pero en búsqueda de una
            estabilidad laboral y de una buena conciliación familiar, me he
            lanzado a dar un giro a mi vida adentrándome muy ilusionada en
            el mundo de la Programación Web.
          </p>

         <div class="quienes__somos--media--izq">
          <a href="#">
            <i class="fa-brands fa-square-x-twitter"></i>
          </a>
          <span>・</span>
          <a href="#">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
          <span>・</span>
          <a href="#">
            <i class="fa-brands fa-github-alt"></i>
          </a>
          <span>・</span>
          <a href="#">
            <i class="fa-solid fa-envelope"></i>
          </a>
         </div>

      </div>
    </article>

    <article class="quienes__somos--art--dcha">
      <div>
        <img class="quienes__somos--image" src="/images/Aroa_360px.jpg" />
      </div>

      <div>
    
          <h3 class="quienes__somos--name--dcha">Aroa Pavón</h3>

          <p class="quienes__somos--text--dcha" >
            Aroa Pavón, de profesión resumida administrativa. Dicen que
            quien no arriesga no gana y que para encontrar cambios hay que
            caminar diferente. Es por este motivo que he decidido confiar en
            este bootcamp a pesar de que la incertidumbre y la falta de
            conocimientos son un reto cada día. Me motivan las ganas de
            crear un futuro profesional desde una perspectiva totalmente
            distinta.
          </p>
        
        <div class="quienes__somos--media--dcha">
          <a href="#">
            <i class="fa-brands fa-square-x-twitter"></i>
          </a>
          <span>・</span>
          <a href="#">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
          <span>・</span>
          <a href="#">
            <i class="fa-brands fa-github-alt"></i>
          </a>
          <span>・</span>
          <a href="#">
            <i class="fa-solid fa-envelope"></i>
          </a>

        </div>
      </div>
    </article>

    <article class="quienes__somos--art--izq">
      <div>
        <img class="quienes__somos--image" src="/images/valenovalles.jpg" />
      </div>

      <div>
          <h3 class="quienes__somos--name--izq">Valentina Ovalles</h3>
      
          <p class="quienes__somos--text--izq">
            Soy Valentina, de Venezuela y viviendo en España desde hace 10
            años. Periodista, marketiniana y crossfit amateur. La maternidad
            me ha regalado un montón de superpoderes, entre ellos el de
            reinventarme. Aquí estoy apostando al sector tech para cambiar
            la vida laboral por una más 'friendly' con este nuevo rol de
            mamá.
          </p>
    

        <div class="quienes__somos--media--izq">
          <a href="#">
            <i class="fa-brands fa-square-x-twitter"></i>
          </a>
          <span>・</span>
          <a href="#">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
          <span>・</span>
          <a href="#">
            <i class="fa-brands fa-github-alt"></i>
          </a>
          <span>・</span>
          <a href="#">
            <i class="fa-solid fa-envelope"></i>
          </a>
         
        </div>
      </div>
    </article>

    <article class="quienes__somos--art--dcha">
      <div>
        <img
          class="quienes__somos--image"
          src="/images/Lucia-lacort_672px.jpg"
        />
      </div>

      <div>
          <h3 class="quienes__somos--name--dcha">Lucía Lacort</h3>
          <p class="quienes__somos--text--dcha">
            Mi nombre es Lucía, soy conquense y tras muchas vueltas por
            España me he asentado en Madrid. Me formé como educadora y
            especialista en género, aunque los últimos 5 años he trabajado
            cara al público en grandes firmas de lujo. Aquí he aprendido que
            el verdadero lujo es la calidad de vida, por lo que he apostado
            por Adalab para ser mi guía en esta nueva etapa como
            desarrolladora.
          </p>
   

        <div class="quienes__somos--media--dcha">
          <a href="#">
            <i class="fa-brands fa-square-x-twitter"></i>
          </a>
          <span>・</span>
          <a href="#">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
          <span>・</span>
          <a href="#">
            <i class="fa-brands fa-github-alt"></i>
          </a>
          <span>・</span>
          <a href="#">
            <i class="fa-solid fa-envelope"></i>
          </a>
         
        </div>
      </div>
    </article>

    <article class="quienes__somos--art--izq">
      <div>
        <img
          class="quienes__somos--image"
          src="/images/marina.jpg"
        />
      </div>

      <div>
          <h3 class="quienes__somos--name--izq">Marina Fernández</h3>
          <p class="quienes__somos--text--izq" >
            Soy Marina, de Sevilla aunque actualmente vivo en Alemania.
            Ilustradora de profesión, decidí hacer este bootcamp porque he
            descubierto que me entusiasma bastante la programación. También,
            claro, para conseguir una estabilidad salarial que me permita
            dedicarme sin preocupaciones a dar paseos por el campo y hacer
            fotos de flores.
          </p>
   
        <div class="quienes__somos--media--izq">
          <a href="#">
            <i class="fa-brands fa-square-x-twitter"></i>
          </a>
          <span>・</span>
          <a href="#">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
          <span>・</span>
          <a href="#">
            <i class="fa-brands fa-github-alt"></i>
          </a>
          <span>・</span>
          <a href="#">
            <i class="fa-solid fa-envelope"></i>
          </a>
        </div>
      </div>
    </article>
  </section>